.contservices{
    max-width: 1000px;
    margin: 0 auto;

}
.navigation
{
display: flex;
    padding: 10px 10px;
    border: 2px; 
    align-items: center;
    justify-content: space-evenly;


}
nav{
	padding:10px 10px ;
    border: 10px
    ;
    margin: 0 40px;
    width: 70%;
	display:flex;
	justify-content: space-evenly;
	
}
header{

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

main {
    display: flex;
    flex-direction: column;

}
.top-wrapper {
    display:flex;
    justify-content: space-evenly;
    padding: 10px 10px;
    margin: 5px;


    
}
.top-wrapper-left{
    padding: 10px 10px;
    margin: 5px;
    border: 1px solid black;
    background-color: beige;
}
.top-wrapper-right{
    padding: 10px 10px;
    margin: 5px;
    border: 1px solid black;
    background-color: beige;
}
.middle-wrapper {
    display:flex;
    justify-content: space-evenly;
    padding: 10px 10px;
    margin: 5px;

    
}
.middle-wrapper-left{
    padding: 10px 10px;
    margin: 5px;
    border: 1px solid black;
    background-color: beige;

}
.middle-wrapper-right{
    padding: 10px 10px;
    margin: 5px;
    border: 1px solid black;
    background-color: beige;

}
.bottom-wrapper {
    display:flex;
    justify-content: space-evenly;
    padding: 10px 10px;
    margin: 5px;  
}
.bottom-wrapper-left{
    padding: 10px 10px;
    margin: 5px;
    border: 1px solid black;
    background-color: beige;
}
.bottom-wrapper-right{
    padding: 10px 10px;
    margin: 5px;
    border: 1px solid black;
    background-color: beige;
}
footer{
    display: flex;
    justify-content: space-evenly;
}
ul {
    text-align: left;

}
hr {
    border: 1px solid grey;
}
.copyright{
    text-align:center;
}

button {
    border-radius: 8px;
    padding: 10px 24px;
}
h1, h2 {
    text-transform:uppercase;
    font-size: 1em;
}

h1{
    text-align:left;
}



